.root {
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: rgb(239, 239, 239);
}
.list {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.title {
  display: flex;
  padding: 4px;
  background: rgb(199, 199, 199);
  margin-bottom: 8px;
  border-radius: 4px;
  & > :nth-child(n) {
    flex: 1;
  }
}
.card {
  display: flex;
  display: flex;
  padding: 4px;
  background: rgb(225, 225, 225);
  border-radius: 4px;
  color: grey;
  & > :nth-child(n) {
    flex: 1;
  }
}
.empty {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > p {
    color: grey;
  }
}
